@model WebAppDemo.Properties.Dtos.CaseDto


    <h3>Are you sure you want to delete this Case?</h3>
<div style="font-size: 130%;">
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Name:
        </dt>
        <dd class="col-sm-10">
            @Model.CaseName
        </dd>
        <dt class="col-sm-2">
            Status:
        </dt>
        <dd class="col-sm-10">
            @Model.CaseStatus
        </dd>
        <dt class="col-sm-2">
            Type:
        </dt>
        <dd class="col-sm-10">
            @Model.CaseType
        </dd>
        <dt class="col-sm-2">
            Number:
        </dt>
        <dd class="col-sm-10">
            @Model.CaseNumber
        </dd>
        <dt class="col-sm-2">
            DateCreated:
        </dt>
        <dd class="col-sm-10">
            @Model.CaseDateCreated
        </dd>
        <dt class="col-sm-2">
            DateModified:
        </dt>
        <dd class="col-sm-10">
            @Model.CaseDateModified
        </dd>

    </dl>

    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>